* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
  }
  
  .navbar {
    background: linear-gradient(to bottom, #ffffff, #ffffff); /* Light to darker gray gradient */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  #navbar__logo {
    color: #000;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    background-image: url('/images/baby.png'); /*virker ikke*/
  }
  
  .fa-gem {
    margin-right: 0.5rem;
  }
  /* The menu bar  */
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    gap: 5px; /* Adds space between menu items */
}

/* Drop down menu */
.navbar__item {
    height: 80px;
    padding: 0 10px; /* Adds horizontal padding to each item */
    white-space: nowrap; /* Prevents text from wrapping to the next line */

}
  /* Text on the navbar */
  .navbar__links {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
  }
  
  /* sign up button in drop down menu */
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
  }
  /* sign up button on navbar */
  .button {
    text-decoration: none;
    padding: 10px 20px; /* size of sign up button */
    border-radius: 4px;
    background: #000000;
    color: #fff;
  }
  
  /* when you hover the mouse over sign up button */
  .button:hover {
    background: #4fafd5;
    transition: all 0.3s ease;
  }
  
  /* when you hover the mouse over titels */
  .navbar__links:hover {
    color: #41c7fc;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 10;
    }

    /*drop down menu*/
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 10;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      height: 50vh;
      z-index: -1;
    }
  
    .navbar__menu.active {
        background: #cce8f3;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
      }
      /* the logo */
    #navbar__logo {
      padding-left: 100px;
    }
  
    /* the button to activate drop down menu */
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #000000;
    }
    
    /* the items inside drop down menu */
    .navbar__item {
      width: 100%;
    }
  
    /* items inside drop down*/
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
    /* can be */
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    /* sign up button in drop down */
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    /* placement of dropdown menu logo */
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    /* the logo of dropdown menu */
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    /* middle line disapear when activated */
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    /* rotation of lowest bar */
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    /* rotation of first bar */
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  /* Main Content CSS */
  .main {
    background-color: #cce8f3;
  }
  
  .main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #cce8f3;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding-right: 50px;
    padding-left: 50px;
  }
  
  /* Services Section under the searchbar */
  .services {
    background: #cce8f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }

  /* the searchbar and search buttons */
  .search-container {
    margin-top:20px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* the searchbar */
  .search-box {
    width: 200%;
    padding: 10px;
    font-size: 27px;
    border: 1px solid #c8c5c5;
    /* for runde kanter: border-radius: 24px;*/
    
  }

  /* the buttons beneath searchbar */
  .search-button {
    background-color: #d3e142;
    color: #000;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* hover effect on buttons under searchbar */
  .search-button:hover {
    background-color: yellow;
    transform: scale(1.05);
  }

  /* placement of buttons under searchbar */
  .buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    
  }
  
  .services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
      to right,
      #5ad2df 0%,
      #4de4f5 0%,
      #23def7 21%,
      #77c4ff 52%,
      #db77ff 78%,
      #df77ff 100%
    );
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  
  .services__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .services__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/images/pic5.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
  }
  
  .services__card:before {
    opacity: 0.2;
  }
  
  .services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(17, 17, 17, 0.6) 100%
      ),
      url('/images/pic4.jpg');
  }

  .services__card:nth-child(3) {
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('/images/micro.jpg');
  }
  
  .services__card h2 {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  
  .services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
  }
  
  .services__card button {
    color: #000000;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #d3e142;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
  }
  
  .services__card button:hover {
    cursor: pointer;
  }
  
  .services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  
  @media screen and (max-width: 960px) {
    .services {
      height: 1600px;
    }
  
    .services h1 {
      font-size: 2rem;
      margin-top: 12rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    .services {
      height: 1400px;
    }
  
    .services h1 {
      font-size: 1.2rem;
    }
  
    .services__card {
      width: 300px;
    }
  }
  
  /* Footer CSS */
  .footer__container {
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
  }
  
  .footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer__link--wrapper {
    display: flex;
  }
  
  .footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
  }
  
  .footer__link--items h2 {
    margin-bottom: 16px;
  }
  
  .footer__link--items > h2 {
    color: #fff;
  }
  
  .footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
  }
  
  .footer__link--items a:hover {
    color: #e9e9e9;
    transition: 0.3s ease-out;
  }
  
  /* Social Icons */
  .social__icon--link {
    color: #fff;
    font-size: 24px;
  }
  
  .social__media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social__logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .website__rights {
    color: #fff;
  }
  
  @media screen and (max-width: 820px) {
    .footer__links {
      padding-top: 2rem;
    }
  
    #footer__logo {
      margin-bottom: 2rem;
    }
  
    .website__rights {
      margin-bottom: 2rem;
    }
  
    .footer__link--wrapper {
      flex-direction: column;
    }
  
    .social__media--wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .footer__link--items {
      margin: 0;
      padding: 10px;
      width: 100%;
    }
  }