/* Apply flexbox to body or html */
html, body {
  height: 100%;
  min-height: 100%;  
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default margin */
}

/* The categories container */
.categories-container {
  flex-grow: 1;
  margin-bottom: 20px;
  margin-left: 100px;
  padding: 20px;
}

.categories-container h1 {
  margin-bottom: 20px;
  text-align: left;
  color: #000;
}

.categories-container h2 {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 26px;
  color: #000;
}

/* Category list styling */
.categories-container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

/* Each product item in the category */
.categories-container li {
  flex: 1 1 calc(25% - 20px);
  max-width: calc(25% - 20px);
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-size: 12px;
  line-height: 18px;
}

/* Container for product card */
.product-card {
  position: relative;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Product image styling remains the same */
.product-card img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto 10px;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.categories-container img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 0 auto 10px;
  display: block;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

/* Save button styling */
.save-button {
  background-color: #FFD788;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.save-button .checkmark {
  color: #fff;  
  font-size: 10px;  
  margin-left: 5px; 
}


.save-button:hover {
  background-color: rgb(39, 111, 36);
  transform: scale(1.05);
  color: white;
}

.save-button.saved {
  background-color:rgb(39, 111, 36);
  color: white;
}

.save-button.saved:hover {
  background-color:rgb(39, 111, 36);
}

.save-button.already-saved {
  background-color: rgb(39, 111, 36);
  color: white;
}


.footer_container {
    margin-top: auto; /* Pushes the footer to the bottom */
}
  