/* Apply flexbox to body or html */
html, body {
  height: 100%;
  min-height: 100%;  
  display: flex;
  flex-direction: column;
  margin: 0; /* Remove default margin */
}

/* The search container */
.search-container {
  margin-top: 20px; /* Add space above */
  text-align: left;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-start;
}

/* The search form */
.search-form {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 6%;
  width: 40%;
}

/* The search input field */
.search-input {
  flex-grow: 1;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
  height: 40px;
  transition: border-color 0.3s ease; 
}

/* The search button */
.s-button {
  position: absolute;
  width: 20%;
  right: 0;
  padding: 12px 16px;
  background-color: #45a049;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  height: 40px; 
  transition: background-color 0.3s ease;
}

.s-button:hover {
  background-color: #6fad72;
}

/* result container */  
.results-container {
  flex-grow: 1;
  margin-bottom: 20px;
  margin-left: 30px;
  padding: 20px;
}

.results-container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.results-container li {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px);
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.results-container h2 {
  margin-bottom: 20px;
  text-align: left;
  color: #000;
}

.product-link {
    display: block; 
    text-decoration: none; 
    color: #333; 
}

.product-item {
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease;
}

.product-link:hover, .results-container li:hover {
  transform: scale(1.05);
  color: #45a049;
}
.results-container li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.product-link:hover .product-image {
  transform: scale(1.05); /* Slightly enlarge the image */
}

.product-item strong, .product-item span {
    display: block;
    margin-bottom: 5px; 
    font-size: 14px;
}

.product-item a {
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
}

.results-container li + li {
  margin-left: 10px;
}