* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

/* navbar */
.navbar {
  background: #ffffff;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar_container a img {
  width: 300px;
  height: auto;
  margin-top: 3px;
  margin-left: -30px;
  justify-content: left;

}

.navbar_container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar_logo {
  padding-left: 100px;
}

.fa-gem {
  margin-right: 0.5rem;
}
/* The menu bar  */
.navbar_menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  gap: 5px; /* Adds space between menu items */
}

/* Drop down menu */
.navbar_item {
  height: 80px;
  padding: 0 10px; /* Adds horizontal padding to each item */
  white-space: nowrap; /* Prevents text from wrapping to the next line */

}
/* Text on the navbar */
.navbar_links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 1rem;
  height: 100%;
}

/* sign up button in drop down menu */
.navbar_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

/* sign up button on navbar */
.button {
  text-decoration: none;
  padding: 10px 20px; /* size of sign up button */
  border-radius: 4px;
  background: #000000;
  color: #fff;
}

/* when you hover the mouse over sign up button */
.button:hover {
  background: #4fafd5;
  transition: all 0.3s ease;
}

/* when you hover the mouse over titels */
.navbar_links:hover {
  color: #41c7fc;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 10;
  }

  /*drop down menu*/
  .navbar_menu {
    display: grid;
    grid-template-columns: auto;
    margin: 10;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }

  .navbar_menu.active {
      background: #cce8f3;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 50vh;
      font-size: 1.6rem;
    }
    /* the logo */
  #navbar_logo {
    padding-left: 100px;
  }

  /* the button to activate drop down menu */
  .navbar_toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }
  
  /* the items inside drop down menu */
  .navbar_item {
    width: 100%;
  }

  /* items inside drop down*/
  .navbar_links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  /* can be */
  .navbar_btn {
    padding-bottom: 2rem;
  }

  /* sign up button in drop down */
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  /* placement of dropdown menu logo */
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  /* the logo of dropdown menu */
  .navbar_toggle .bar {
    display: block;
    cursor: pointer;
  }

  /* middle line disapear when activated */
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  /* rotation of lowest bar */
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  /* rotation of first bar */
  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}


.main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #cce8f3;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 50px;
}

/* Services searchbar etc */
.services {
  background: #cce8f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  align-items: center;
}

/* the searchbar and search buttons */
.search-container {
  margin-top:20px;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

/* the searchbar */
.search-box {
  width: 200%;
  padding: 10px;
  font-size: 27px;
  border: 1px solid #c8c5c5;
  margin-left: -130px;
}

/* the buttons beneath searchbar */
.search-button {
  background-color: #d3e142;
  color: #000;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* hover effect on buttons under searchbar */
.search-button:hover {
  background-color: yellow;
  transform: scale(1.05);
}

/* placement of buttons under searchbar */
.buttons {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  
}

/* Footer Container */
.footer_container {
  background-color: #B5DADE;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_left {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-left: 70px;
}

.left_footer {
  text-align: left;
}


.left_footer_img {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.left_footer_img img {
  width: 45px;
  height: auto;
}

.footer_img_text {
  font-size: 12px;
  text-align: left;
  margin: 5px 0 0 0;
}

.website_rights {
  font-size: 12px;
}

/* Måske fjerne */
.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

/* Alligns the footer horizontal */
.footer_link-wrapper {
  display: flex;
  gap: 30px;
  padding-right: 110px;
}

/* måske slettes */
.footer_service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}


.footer_service a {
  color: #000000;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer_service a:hover {
  color: #ffffff;
  transition: 0.3s ease-out;
}

.footer_link-items {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer_link-items > h2 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #000;
}

.footer_link-items a {
  color: #000;
  font-size: 12px;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer_link-items a:hover {
  color: #fff;
}

/* What do the experts say? */
.services_container {
display: flex;
justify-content: center;
}
/* service card and heavy metals card */
.services_card {
  margin: 1rem;
  height: 525px;
  width: 300px;
  border-radius: 4px;
  background-color: #efc58a;
  background-size: cover;
  position: relative;
  color: #000000;
}

/* pesticides service card */
.services_card:nth-child(2) {
  background-color: #efc58a;
}

/* microplastic service card */
.services_card:nth-child(3) {
  background-color: #efc58a;
}

.services_card:nth-child(4) {
  background-color: #efc58a;
}

/* headers on service cards */
.services_card h2 {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000;
}

/* mores text if we want to add on service cards */
.services_card p {
  position: absolute;
  top: 90px;
  left: 20px;
}

.services_card a {
  color: #000000;
  border: none;
  outline: none;
  border-radius: 4px;
  position: absolute;
  top: 400px;
  left: 30px;
  font-size: 1rem;
}

/* learn more button in service cards*/
.services_card button {
  color: #000000;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  display: block;
  margin-bottom: 10px; 
  text-align: left;
}

/* hover on the learn more button */
.services_card button:hover {
  cursor: pointer;
  background-color: yellow;
}

/* hover on the service card */
.services_card:hover {
  transform: scale(1.02);
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: #f5d7ad;
}

/* To make the mouse to a pointer */
.open-link {
  cursor: pointer;
}