{% extends 'base.html' %}
{% block content %}

<div class="content">
  <h1>Most common toxins in baby food</h1>
  <div class="flex_container">
    <div class="toxic">
      <h2>Common heavy metals</h2>
      <p>
      <br><strong>Arsenic:</strong> 
      Often found in rice and rice-based products, 
      it can affect brain development and increase cancer risk over time.
      <br>
      <br><strong>Lead:</strong> 
      Detected in fruit juices and root vegetables, 
      even low levels can harm cognitive development.   
      <br>   
      <br><strong>Cadmium:</strong> 
      Present in spinach and carrots; chronic exposure 
      can damage kidney function and bone health.
      <br>
      <br><strong>Mercury:</strong> 
      Typically found in certain fish; while levels in baby 
      food are lower, any exposure can impact brain development
      <br>
      <br>
      <br>  
      <br>  
      <br>  
      <br><a href="https://www.fmi.org/docs/default-source/food-safety/fmi-heavy-metals-in-baby-food-backgrounder---july-10-2023.pdf?sfvrsn=75564df4_3" target="_blank">Click to read more about heavy metals</a>
    </p>
  </div>
    <div class="toxic">
      <h2>Common pesticides</h2>
      <p>
      <br><strong>Chlorpyrifos:</strong> 
      Linked to developmental issues and banned in several countries.
      <br>
      <br><strong>Glyphosate:</strong> 
      Found in grains and oats; commonly used in agriculture.
      <br>   
      <br><strong>Carbendazim:</strong> 
      A fungicide in fruit products; poses potential fertility risks.
      <br>
      <br><strong>Permethrin:</strong> 
      Affects the nervous system and is used on crops like peas and beans.
      <br>
      <br><strong>Atrazine:</strong> 
      Used in corn production, it can seep into water sources and end up in food.
      <br>
      <br>
      <br><a href="https://doi.org/10.1051/e3sconf/202448507009" target="_blank">Click to read more about pesticides</a>
    </p>        
  </div>
  <div class="toxic">
      <h2>Common microplastics</h2>
      <p>
      <br><strong>Food packaging:</strong> 
      Plastic containers and utensils can leach microplastics, especially when exposed to heat.
      <br>
      <br><strong>Water Contamination:</strong> 
      Microplastics often contaminate drinking water used in baby food production.
      <br>   
      <br><strong>Seafood:</strong> 
      While less common, fish and shellfish may contain microplastics.
      <br>
      <br><strong>Fruits & Vegetables: </strong> 
      These can absorb microplastics from contaminated soil and water.
      <br>
      <br>
      <br>
      <br>
      <br>  
      <br><a href="https://doi.org/10.1038/s43016-020-00171-y" target="_blank">Click to read more about pesticides</a>
      </p>         
   </div>
  </div>
</div>

{% endblock %}
