<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BabyFoodCheck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
</head>
<body>

<!--Navbar Section here -->
<nav class="navbar">
    <div class="navbar_container">
            <a href="/"><img src="../static/images/babyfoodcheck_logo.png" alt="BabyFoodCheck Logo"></a> 
        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span><span sclass="bar"></span><span class="bar"></span>
        </div>
        <ul class="navbar_menu">
          <li class="navbar_item"><a href="/common" class="active navbar_links">Most common toxins</a></li>
          <li class="navbar_item"><a href="/expert" class="navbar_links">Expert advice</a></li>
          <li class="navbar_item"><a href="/general" class="navbar_links">General advice</a></li>
        </ul>
    </div>
</nav>

<div class="content">
  <h1>Most common toxins in baby food</h1>
  <div class="flex_container">
    <div class="toxic">
      <h2>Common heavy metals</h2>
      <p>
      <br><strong>Arsenic:</strong> 
      Often found in rice and rice-based products, 
      it can affect brain development and increase cancer risk over time.
      <br>
      <br><strong>Lead:</strong> 
      Detected in fruit juices and root vegetables, 
      even low levels can harm cognitive development.   
      <br>   
      <br><strong>Cadmium:</strong> 
      Present in spinach and carrots; chronic exposure 
      can damage kidney function and bone health.
      <br>
      <br><strong>Mercury:</strong> 
      Typically found in certain fish; while levels in baby 
      food are lower, any exposure can impact brain development
      <br>
      <br>
      <br>  
      <br>  
      <br>  
      <br><a href="https://www.fmi.org/docs/default-source/food-safety/fmi-heavy-metals-in-baby-food-backgrounder---july-10-2023.pdf?sfvrsn=75564df4_3" target="_blank">Click to read more about heavy metals</a>
    </p>
  </div>
    <div class="toxic">
      <h2>Common pesticides</h2>
      <p>
      <br><strong>Chlorpyrifos:</strong> 
      Linked to developmental issues and banned in several countries.
      <br>
      <br><strong>Glyphosate:</strong> 
      Found in grains and oats; commonly used in agriculture.
      <br>   
      <br><strong>Carbendazim:</strong> 
      A fungicide in fruit products; poses potential fertility risks.
      <br>
      <br><strong>Permethrin:</strong> 
      Affects the nervous system and is used on crops like peas and beans.
      <br>
      <br><strong>Atrazine:</strong> 
      Used in corn production, it can seep into water sources and end up in food.
      <br>
      <br>
      <br><a href="https://doi.org/10.1051/e3sconf/202448507009" target="_blank">Click to read more about pesticides</a>
    </p>        
  </div>
  <div class="toxic">
      <h2>Common microplastics</h2>
      <p>
      <br><strong>Food packaging:</strong> 
      Plastic containers and utensils can leach microplastics, especially when exposed to heat.
      <br>
      <br><strong>Water Contamination:</strong> 
      Microplastics often contaminate drinking water used in baby food production.
      <br>   
      <br><strong>Seafood:</strong> 
      While less common, fish and shellfish may contain microplastics.
      <br>
      <br><strong>Fruits & Vegetables: </strong> 
      These can absorb microplastics from contaminated soil and water.
      <br>
      <br>
      <br>
      <br>
      <br>  
      <br><a href="https://doi.org/10.1038/s43016-020-00171-y" target="_blank">Click to read more about pesticides</a>
      </p>         
   </div>
  </div>
</div>

<!-- Footer Section -->
<div class="footer_container">
    <div class="footer_left">
      <div class="left_footer">
        <p class="website_rights">© BabyFoodCheck 2024. <br> All rights reserved</p>
      </div>
      <div class="left_footer_img">
        <img src="../static/images/cleanlabel.png" alt="Clean Label Logo">
        <p class="footer_img_text">Partnered with the <br> Clean Label Project</p>
      </div>
    </div>
    <div class="footer_link--wrapper">
      <div class="footer_link--items">
        <h3>Help</h3>
        <a href="/">FAQ</a>
        <a href="/">Contact</a>
      </div>
      <div class="footer_link--items">
        <h3>About</h3>
        <a href="/">About us</a>
      </div>
    </div>
  </div>  

<script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
