{% extends "layout.html" %}

{% block body %}
<!-- Services Section -->
<div class="services">
    <h1>Learn more about toxic chemicals</h1>
    <div class="services_container">
        <div class="services_card">
            <h2>Research Findings</h2>
            <p>blablabla</p>
            <button>Learn More</button>
        </div>
        <div class="services_card">
            <h2>Pediatricians</h2>
            <p>safkælmasæ</p>
            <button>Learn More</button>
        </div>
        <div class="services_card">
            <h2>Nutritionists</h2>
            <p>asmflæa</p>
            <button>Learn More</button>
        </div>
        <div class="services_card">
            <h2>Links to Scientific Research</h2>
            <p>asfmlæa</p>
            <button>Learn More</button>
        </div>
    </div>
</div>
{% endblock %}
