{% extends "layout.html" %}

{% block body %}
<!-- Services Section -->
<div class="services">
    <h1>What do the experts say?</h1>
    <div class="services_container">
        <div class="services_card">
            <h2>Research Findings</h2>
            <p>
                Heavy metals, pesticides, and microplastics are major environmental hazards.
                They are found in food, water, and air, and can cause serious health problems.
                Learn more about the latest research findings on toxic chemicals and their effects on human health.
            </p>
            <a href="https://www.frontiersin.org/journals/nutrition/articles/10.3389/fnut.2022.919913/full">A Narrative Review of..</a>
            <button>Hello</button>
        </div>
        <div class="services_card">
            <h2>Pediatricians</h2>
            <p>
                Lille Peter Edderkop er en af de mest kendte børnesange i Danmark.
                På trods af det er sangen af ukendt oprindelse og det samme gælder komponisten.

                Sangen er en tælle- og bevægelsessang, der handler om en lille edderkop, der kravler op ad et træ.
            </p>
            <button>Learn More</button>
        </div>
        <div class="services_card">
            <h2>Nutritionists</h2>
            <p>asmflæa</p>
            <button>Learn More</button>
        </div>
        <div class="services_card">
            <h2>Links to Scientific Research</h2>
            <p>asfmlæa</p>
            <button>Learn More</button>
        </div>
    </div>
</div>
{% endblock %}
