{% extends 'base.html' %}
{% block content %}

<!-- indholdet -->
<div class="content">
    <h1>What do the experts say?</h1>
    <div class="flex_container">
        <div class="advice">
            <h2>Research Findings</h2>
            <p><br>
              Heavy metals, pesticides, and microplastics are major environmental hazards. 
              They are found in food, water, and air, and can cause serious health problems. 
              <br><br>The American Academy of Pediatrics has emphasized the importance of reducing these
              risks in infant diets, as heavy metals like lead, arsenic, and mercury can significantly impair
              brain development in young children. <br><br>Recent studies also indicate that microplastics, which have 
              infiltrated even remote environments, may pose risks to human health by accumulating in tissues and 
              potentially affecting organ function. 
              <br>
              <br><a href="https://www.frontiersin.org/journals/nutrition/articles/10.3389/fnut.2022.919913/full" target="_blank">Click to read more about the research on toxic ingredients</a>
            </p>
        </div>
        <div class="advice">
            <h2>Pediatricians</h2>
            <p><br>
              Several pediatricians and experts emphasize the importance of reducing toxic chemical exposure in baby food, 
              particularly heavy metals. <br><br>The American Academy of Pediatrics (AAP) highlights the potential dangers of 
              contaminants like lead, arsenic, and mercury, which can harm brain development and contribute to learning and behavior problems. 
              <br><br>These metals can be found in both commercial and homemade baby foods, with rice-based products being especially prone to contamination​
              <br>
              <br>
              <br><a href="https://my.clevelandclinic.org/pediatrics" target="_blank">Click to read more about the Cleveland Clinic and their findings</a>
            </p>
        </div>
        <div class="advice">
            <h2>Nutritionists</h2>
            <p><br>
              When it comes to baby nutrition and the presence of toxic chemicals in food, nutrition experts agree
               that while heavy metals like lead, cadmium, and arsenic can be a concern, the levels typically found
                in baby foods are low and unlikely to pose a significant risk when consumed in moderation. 
                <br><br>For instance, Michelle Milgrim, a registered dietitian, emphasizes the importance of a varied diet
                 to help mitigate exposure to heavy metals, recommending different grains like oats and quinoa instead 
                 of rice-based cereals, which are often higher in arsenic​.
                 <br>
                 <br>
                 <br>
                 <br><a href="https://www.frontiersin.org/journals/nutrition/articles/10.3389/fnut.2022.919913/full" target="_blank">Click to read about the new findings on nutritions</a>
            </p>
        </div>
        <div class="advice">
            <h2>Links to Scientific Research</h2>
            <p>
            <br><br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
            <br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
            <br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
            <br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
            <br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
            <br><a href="https://www.unicef.org/parenting/food-nutrition/feeding-your-baby-6-12-months" target="_blank">Click to read more about ????</a>
            <br>
            <br>
          </p>
        </div>
    </div>
</div>

{% endblock %}
