<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ product['product_name'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='product_details.css') }}">
</head>
<body>

<!-- Navbar section here -->
<nav class="navbar">
  <div class="navbar_container">
      <a href="/">
          <img src="{{ url_for('static', filename='images/babyfoodcheck_logo.png') }}" alt="BabyFoodCheck Logo">
      </a>        
      <ul class="navbar_menu">
        <li class="navbar_item"><a href="/grocery_list" class="navbar_links">Grocery List</a></li>
        <li class="navbar_item"><a href="/categories" class="navbar_links">Categories</a></li>
        <li class="navbar_item"><a href="/common" class="navbar_links">Most common toxins</a></li>
        <li class="navbar_item"><a href="/expert" class="navbar_links">Expert advice</a></li>
        <li class="navbar_item"><a href="/general" class="navbar_links">General advice</a></li>
    </ul>    
  </div>
</nav>

<h1>{{ product['brand'] }} - {{ product['product'] }}</h1>
<div class="content-wrapper">
  <div class="products">
    <img src="{{ url_for('static', filename=product['image']) }}" alt="Product Image">
    <div class="prod_contents">
      <ul>
        <li>
          <h2>Ingredient list:</h2>
          <div class="product_detail">
            <strong>Microplastics:</strong> 
            {% if product['microplastics'] %}
              {{ product['microplastics'] }}
            {% else %}
              None
            {% endif %}
          </div>
          <div class="product_detail">
            <strong>Toxic Metals:</strong> 
            {% if product['toxic_metals'] %}
              {{ product['toxic_metals'] }}
            {% else %}
              None
            {% endif %}
          </div>
          <div class="product_detail">
            <strong>Pesticides:</strong> 
            {% if product['pesticides'] %}
              {{ product['pesticides'] }}
            {% else %}
              None
            {% endif %}
          </div>
          <div class="product_detail_1">
            <strong>Protein & other ingredients:</strong> 
            {% if product['protein_name'] %}
              {{ product['protein_name'] }}
            {% else %}
              None
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Info boxes -->
  <div class="information-box">
    <div class="product_box">
      <h4>Heavy Metals</h4>
      <p>Some information about heavy metals found in the product.</p>
    </div>
    <div class="product_box">
      <h4>Microplastics</h4>
      <p>Some information about microplastics found in the product.</p>
    </div>
    <div class="product_box">
      <h4>Pesticides</h4>
      <p>Some information about pesticides found in the product.</p>
    </div>
    <div class="product_box_1">
      <h4>Protein & other ingredients</h4>
      <p>Some information about protein and other ingredients.</p>
    </div>
  </div>
</div>


<!-- Footer Section -->
<div class="footer_container">
    <div class="footer_left">
      <div class="left_footer">
        <p class="website_rights">© BabyFoodCheck 2024. <br> All rights reserved</p>
      </div>
      <div class="left_footer_img">
        <img src="{{ url_for('static', filename='images/cleanlabel.png') }}" alt="Clean Label Logo">
        <p class="footer_img_text">Partnered with the <br> Clean Label Project</p>
      </div>
    </div>
    <div class="footer_link--wrapper">
      <div class="footer_link--items">
        <h3>Help</h3>
        <a href="/">FAQ</a>
        <a href="/">Contact</a>
      </div>
      <div class="footer_link--items">
        <h3>About</h3>
        <a href="/">About us</a>
      </div>
    </div>
</div>

</body>
</html>
